

/* USWDS overrides */

.usa-grid, .usa-grid-full { max-width: 1280px; }
.usa-alert-success .usa-alert-body { padding-left: 0.7em; }
.usa-alert-info .usa-alert-body, .usa-alert-error .usa-alert-body { padding-left: 0.7em; }
.dst-alert-body { font-size: 1.9rem; font-weight: 700; }
.usa-alert { margin-top: 0.3rem; }
.usa-alert-text:only-child { margin-bottom: 0; }
.usa-alert::before { width: 0.6rem; }
.dst-alert {
  padding: 1.0rem;
  font-size: 1.4rem;
  background-image: none;
  margin-bottom: 0.9rem;
}

/* form controls */

input, select, textarea { padding: 0.4rem; height: auto; font-size: 1.45rem; margin: 0; }
textarea { margin-top: 0.4rem!important; }
textarea:disabled { background-color: #f1f1f1; }
label { margin: 0; }

.dst-radio-label { margin: 0.4rem 1.0rem 0.0rem 0.0rem!important; font-size: 1.35rem; }
.dst-textarea { height: 14rem; }
.dst-select { padding: 0.7rem; font-size: 1.45rem; height: auto;}
.dst-required { font-weight: 400; font-style: italic; font-size: 1.4rem; color: #d6d7d9; }


/* error messages */

.dst-table-error-box { margin-top: 5.4rem!important; min-height: 19.6rem;}
.dst-table-error {
    margin: auto;
    width: 68%;
    color: #d6d7d9;
    background-color: #fff;
    padding: 1.2rem;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9rem;
    letter-spacing: 0.02rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #aeb0b5;
    border: 1px solid #f1f1f1;
  }
  .dst-table-error p { margin: 0.9rem 0; line-height: 2.2rem; }
  .dst-alert-info-icon { font-size: 2.9rem; float: left; margin: 0.6rem 0.4rem 0 -0.8rem; }
  .dst-alert-text { font-size: 1.6rem; line-height: 1.9rem; margin-left: 2.6rem;  }
  .dst-alert-text-smaller { font-size: 1.4rem; line-height: 1.8rem; font-weight: 400; margin-top: 0.4rem; }


/* SEOC input, typeahead stuff, etc. */

.dst-seoc-input {
  width: 25rem;
  cursor: default;
}
.dst-seoc-input::placeholder { font-style: italic; }
.dst-seoc-container {
  display: block;
  width: 25.2rem;
  height: 2.9rem;
  position: relative;
}
.dst-seoc-pulldown-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.9rem;
  background: none;
  width: 16px;
  height: 16px;
  border-radius: 0;
  margin: 0;
  padding: 0;
 }
 .dst-seoc-pulldown-btn:hover { background: none; }
.dst-clear-seoc {
  cursor: pointer;
  color: #d6d7d9;
  position: absolute;
  top: 0.0rem;
  right: 3.2rem;
  font-size: 2.2rem;
}
.dst-dropdown-container {
  position: absolute;
  margin-top: -2px;
  border-top: none;
  border-right: 1px solid #d6d7d9;
  border-bottom: 1px solid #d6d7d9;
  border-left: 1px solid #d6d7d9;
  width: 25.0rem;
  box-shadow: 2px 2px 2px #d6d7d9;
  z-index: 999;
  max-height: 27rem;
  overflow-y: auto;
}
.dst-dropdown-item {
  font-weight: inherit;
  font-size: 1.45rem;
  padding: 0.6rem;
}
.dst-dropdown-item:hover { cursor: pointer; }
.dst-dropdown-selected {
  background-color: #205493;
  color: #fff;
  font-weight: 700;
}
.dst-dropdown-not-selected {
  background-color: #fff;
}
.dst-plain-text {
  font-weight: inherit;
}

/* SEOC modal */

.dst-modal-container { border-radius: 4px; box-shadow: 0px 0px 36px black; }
.dst-geninfo-modal-container { border-radius: 4px; box-shadow: 0px 0px 36px black; width: 58rem; }
.dst-error-container { border-radius: 4px; box-shadow: 0px 0px 36px black; width: 55rem; }
.seoc-header { margin-bottom: 0.8rem; border-bottom: 1px solid #aeb0b5; min-height: 3.2rem; }
.dst-scrollable {
  overflow-y: auto;
  max-height: 50rem;
}
.dst-scrollable pre {
  white-space: pre-wrap;
  padding: 1.0rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: "Source Sans Pro";
}
.dst-modal-close-btn { position: absolute; top: -0.1rem; right: -0.1rem; }
.dst-modal-close-btn:hover { background-color: #aeb0b5; }

/* formatting classes */

.dst-source-sans { font-family: "Source Sans Pro"; }
.dst-text-center { text-align: center;}
.dst-text-big { font-size: 2.2rem; font-family: "Source Sans Pro"; }
.dst-vert-center { vertical-align: center; }
.dst-text-top { vertical-align: top;}
.dst-float-right { float: right; }
.dst-float-left { float: left; }
.dst-inline-block { display: inline-block; }
.dst-bold { font-weight: 700;}
.dst-italic { font-style: italic;}

.dst-table { width: 100%; font-size: 1.45rem; margin: 0; }

.dst-table thead { width: 100%; }
  .dst-table thead tr { display: block;  }
    .dst-table thead tr th { color: #323a45; }
    .dst-table thead tr th:nth-child(1) { width: 41.5rem; }
    .dst-table thead tr th:nth-child(2) { width: 18.0rem; }
    .dst-table thead tr th:nth-child(3) { width: 15.0rem; }

.dst-table tbody { display: block; overflow: auto; height: 200px; width: 100%; }
  .dst-table tbody tr:nth-child(1) th:nth-child(1) { border: 0; }
  .dst-table tbody tr:nth-child(1) td:nth-child(2) { border: 0; }
  .dst-table tbody tr:nth-child(1) td:nth-child(3) { border: 0; }
  .dst-table tbody tr th:nth-child(1) { width: 41.5rem; overflow-x: hidden;  }
  .dst-table tbody tr td:nth-child(2) { width: 18.0rem; }
  .dst-table tbody tr td:nth-child(3) { width: 15.0rem; }

.dst-row-space { margin: 0.9rem 0;}
.dst-hr { border: 1px solid #f1f1f1;}

.dst-bold-label {
  color: #323a45;
  vertical-align: top;
  font-weight: 700;
  font-size: 1.45rem;
  line-height: 2.2rem;
  padding: 0.1rem 0.6rem;
}
.dst-elig-row { margin: 0.9rem 0; font-size: 1.45rem; }
.dst-info {
  vertical-align: top;
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 2.1rem;
  padding: 0.1rem 0.6rem;
}


/* special DST classes */

.dst-fieldset legend { display: none; }
.dst-field-bg { background-color: #e4e2e0; padding: 0.6rem; }
.dst-field-bg-off { min-height: 4.2rem; padding: 0.6rem; }
.dst-NLTD-readonly { padding: 1.2rem 0 0 1.4rem; font-size: 1.5rem; color: #323a45; letter-spacing: 0.02rem; }
.dst-elig-orideBox { margin-top: 0.7rem; }
.dst-datepicker-container { width: 12.0rem; }
.dst-datepicker-containerCC { width: 13.2rem; }
.dst-datepicker-containerCC button { top: -0.5rem; }
.dst-walkin-eligible { color: #5b616b; display: block; font-weight: 400; font-size: 1.4rem; font-style: italic; margin-top: 0.5rem; }
  .dst-walkin-eligible i { color: #2e8540; margin-right: 0.6rem; font-size: 1.45rem; }
.dst-wait-time-td { padding-left: 4.8rem; }
.dst-drive-time-td { padding-left: 2.4rem; }
.dst-care-type { font-size: 1.3rem; font-style: italic; color: #5b616b; }
.dst-facility-message { font-size: 1.6rem; font-style: italic; color: #323a45; margin: 0; }
.dst-dashboard-link { float: right; font-weight: 400; font-size: 1.4rem;}
.dst-logout-div { height: 1.4rem; padding-top: 0.3rem; position: relative; }
  .dst-logout-link { font-size: 1.4rem; position: absolute; top: 0.1rem; right: 0.3rem; font-family: "Source Sans Pro", "Arial", sans-serif;  }
.dst-distance { font-size: 1.4rem; color: #5b616b; font-style: italic; }
.dst-seoc-select { min-width: 24rem; }
.dst-medInt-label { font-weight: 700; font-size: 1.45rem; clear: both; margin-top: 1.8rem; }
.dst-result-box { max-height: 25.2rem;  }
.dst-loading-panel { background-color: #fff; padding: 0.8rem; border: 1px solid #aeb0b5; border-radius: 6px; box-shadow: 1px 1px 2px #aeb0b5; }
.dst-loading-header { font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-size: 1.9rem; margin: 0.0rem 0 0.9rem 0; }
.dst-loading-content { margin: 1.1rem 0 0.3rem 0.5rem; font-weight: 700; font-size: 1.6rem; color: #323a45; }
.dst-cancel-msg { font-style: italic; color: #323a45; font-size: 1.6rem; font-family: "Source Sans Pro"; margin-top: 0.6rem!important; }
.dst-clinicSvc-container { width: 25rem; height: auto; position: relative; display: block; }
.dst-clinicSvc-input { width: 25rem; }
.dst-clear-clinicSvc {
  cursor: pointer;
  color: #d6d7d9;
  position: absolute;
  top: 0.3rem;
  right: 0.7rem;
  font-size: 1.9rem;
}

/* buttons */

.dst-save-btn { padding-left: 4.4rem; padding-right: 4.4rem; margin: 0.7rem 0 0.2rem 0!important; }
.dst-cncl-btn { padding-left: 3.5rem; padding-right: 3.5rem; }
.dst-button-small {font-size: 1.2rem; padding: 0.7rem; margin: 0 0 0 0.7rem;}


/* icons */

.dst-icon-greencheck { color: #2e8540; font-size: 1.6rem; vertical-align: text-bottom; margin: 0.15rem 0.3rem; }
.dst-icon-redclipboard { color: #e31c3d; font-size: 1.6rem; vertical-align: text-bottom; margin: 0.15rem 0.3rem; }
.dst-icon-red { color: #e31c3d-dark; font-size: 2.5rem; vertical-align: middle; margin: 0 0.7rem 0.2rem 0.5rem; }
.dst-icon-black { color: #d6d7d9; font-size: 1.8rem; }
.dst-help-qmark { color: #205493; font-size: 1.6rem; margin: 0 0.4rem 0 0; vertical-align: middle; }
.dst-help-link { font-size: 1.4rem; position: absolute; top: 0.1rem; right: 6.7rem; font-family: "Source Sans Pro", "Arial", sans-serif; }

.dst-spinner {
  color: #323a45;
  font-size: 2.5rem;
  vertical-align: middle;
  margin: 0 0.7rem 0.2rem 0.5rem;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dst-elig-criteria { margin: 1.1rem 0 0.3rem 0.5rem; font-weight: 700; font-size: 1.6rem; }
  .dst-bmi-box { margin-top: 0.5rem; }
    .dst-bmi-label { cursor: pointer; font-weight: 700; font-size: 1.6rem; margin: 0 0 0.9rem 0;  }
    .dst-bmi-check-circle { float: left; margin: 0; }
    .dst-bmi-check-circle svg { margin: 0 0.7rem 0 0.4rem; background-color: #fff; border-radius: 16px; }
.dst-elig-circle { color: #fff; font-size: 2.5rem; margin: 0 0.7rem 0.2rem 0.5rem; vertical-align: middle; }
.dst-elig-check { color: #2e8540; font-size: 2.5rem; margin: 0 0.7rem 0.2rem 0.5rem; vertical-align: middle; }
.dst-elig-blank { color: #d6d7d9; font-size: 2.5rem; margin: 0 0.7rem 0.2rem 0.5rem; vertical-align: middle; }
.dst-blank-square { color: #e4e2e0; font-size: 2.5rem; margin: 0 0.7rem 0.2rem 0.5rem; vertical-align: middle; }
.dst-elig-qmark { color: #5b616b; font-size: 2.5rem; margin: 0 0.7rem 0.2rem 0.5rem; vertical-align: middle; }
.dst-external-link { vertical-align: text-top; margin: 0.2rem 0 0 0.3rem; }

/* copy of accordion style but without buttons for headers */

.dst-box {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.dst-box-header {
  margin-top: 1.4rem!important;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
}
.dst-box-header h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.dst-consult-name { font-weight: 400; font-size: 1.7rem; margin-left: 0.7rem; }

.dst-box-content {
  border-top: none;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  border-left: 3px solid #f1f1f1;
  padding: 1.0rem;
  min-height: 18rem;
  background-image: url('/src/assets/img/check-circle-solid.svg');
}
.dst-facils-container { min-height: 28.5rem;}
.dst-cc-container { min-height: 59.7rem;  }


